<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>分析页面</title>
    <link rel="stylesheet" type="text/css" href="/static/css/table.css"/>
    <script type="text/javascript" src="/static/js/jquery-3.5.1.min.js"></script>
    <script type="text/javascript" src="/static/js/planStepProblemSchemeJS.js"></script>
</head>
<body>
<div>
    <p>问题分析</p>
<a>问题名:</a><a>{{ problem.name }}</a><br/>
<a>问题描述:</a><br/>
<a></a>
<a></a>









</div>
<div>
    <p>方案分析</p>
</div>


</body>
</html>